:root {
  --bg: #2d3e50;
  --bg2: #c0c0c0;
  --fg: #000000;
  --accent: #b33c3c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--accent);
  color: white;
}

html {
  background-color: var(--bg);
}

body {
  color: var(--fg);
  font-family: monospace;
  padding: 2rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

main {
  padding: 1.2rem;
  background: var(--bg2);
  border: 2px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  border-top: 2px solid var(--bg2);
  border-left: 2px solid var(--bg2);
  max-width: 95%;
  width: 450px;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  main {
    padding: 1rem;
  }
}

section {
  margin-top: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0rem;
}

a {
  font-size: inherit;
  color: var(--accent);
  text-decoration: underline;
  padding: 0.1rem;
}

a:hover {
  background-color: var(--accent);
  color: var(--bg2);
}

h1 {
  font-size: inherit;
}

h2 {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline;
}

#rose {
  margin-left: 0.2rem;
  height: 1.2rem;
  width: auto;
  vertical-align: -0.2em;
}

#location-text {
  font-size: inherit;
  opacity: 0.6;
}

#new-badge {
  display: inline-block;
  background: var(--accent);
  color: white;
  font-size: 0.5rem;
  padding: 0.1rem 0.25rem;
  line-height: 1;
  vertical-align: middle;
}

#updated-date {
  font-size: inherit;
  opacity: 0.5;
  display: none;
}
