:root {
  --bg: #2d3e50;
  --bg2: #c0c0c0;
  --fg: #000000;
  --accent: #007acc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--bg);
}

body {
  color: var(--fg);
  font-family: monospace;
  padding: 2rem;
  text-align: left;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

main {
  padding: 1.2rem;
  background: var(--bg2);
  border: 2px solid #000000;
  box-shadow: 12px 12px 0px #000000;
  border-top: 2px solid var(--bg2);
  border-left: 2px solid var(--bg2);
  max-width: 95%;
  width: 450px;
  margin: 1rem auto;
}

@media (min-width: 768px) {
  main {
    padding: 1rem;
  }
}

section {
  margin-top: 1.5rem;
}

p {
  margin-bottom: 0.5rem;
}

ul {
  list-style: none;
  padding-left: 0;
}

li {
  margin-bottom: 0rem;
}

a {
  font-size: inherit;
  color: var(--accent);
  text-decoration: underline;
  padding: 0.1rem;
}

a:hover {
  background-color: var(--accent);
  color: var(--bg2);
}

h1 {
  font-size: inherit;
}

h2 {
  font-size: inherit;
  font-weight: normal;
  text-decoration: underline;
}

#location-text {
  font-size: inherit;
  opacity: 0.6;
}

#updated-date {
  font-size: inherit;
  opacity: 0.5;
  display: none;
}

.status-indicator {
  display: flex;
  align-items: center;
  font-family: monospace;
  font-size: inherit;
  gap: 0.5em;
  color: #000000;
}

.status-light {
  width: 7px;
  height: 7px;
  background-color: #8b0000;
  display: inline-block;
  animation: blink 1s steps(1) infinite;
}

@keyframes blink {
  0%,
  50% {
    opacity: 1;
  }
  51%,
  100% {
    opacity: 0;
  }
}
